* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: rgb(44, 0, 70); */
  background-color: black;
  color: white;
}

/* HEADER */

header {
  /* background-color: rgb(44, 0, 70); */
  height: 5rem;
  min-height: 5rem;
  display: flex;
  color: white;
  display: flex;
  justify-content: center;
  background-color: black;
  transition: height 400ms;
  padding: 0 2rem;
}

.header-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-open .header-left {
  height: 5rem;
}

.header-open .header-right {
  display: flex;
  flex-direction: column;
}

.header-open .list-items {
  display: flex;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.header-open .nav-links {
  flex-direction: column;
}

.logo {
  font-size: 2rem;
}

.burger-menu {
  padding-left: 0.3rem;
  font-size: 2.5rem;
}

.header-left {
  display: flex;
  align-items: center;
  min-height: 5rem;
}

.port {
  color: hotpink;
}

.fo {
  color: rgb(255, 255, 255);
}

.lio {
  color: hotpink;
}

.header-right {
  display: flex;
  align-items: center;
  /* margin-right: 2rem; */
}

.nav-links {
  display: flex;
}

.list-items {
  display: none;
  color: white;
  list-style-type: none;
  padding-left: 1rem;
}

.current-tab {
  color: hotpink;
}

/* HOME */

.ella-portrait {
  width: 100%;
  height: auto;
}

.hello {
  margin-top: 0.5rem;
  color: white;
  padding: 0;
  margin-bottom: 0;
}

.intro-text {
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 4rem;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  color: hotpink;
}

/* ABOUT ME */

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-heading {
  color: hotpink;
  padding-top: 3rem;
}

.text {
  color: white;
  display: block;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* SKILLS */

.skills-container {
  display: flex;
  flex-direction: column;
}

.skills-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.type-heading {
  padding-left: 0.5rem;
  border-bottom: 2px solid white;
  font-size: 1.4rem;
}

.skills-heading {
  color: hotpink;
  display: flex;
  justify-content: center;
}

/* PROJECTS */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-heading {
  color: hotpink;
}

.github-logo {
  width: 25%;
  height: auto;
}

.github-link {
  color: hotpink;
}

/* HOVER EFFECTS */

.logo:hover {
  cursor: pointer;
}

.burger-menu:hover {
  cursor: pointer;
}

.list-items:hover {
  cursor: pointer;
  color: hotpink;
}

/* MEDIA QUERIES */

@media (min-width: 900px) {
  .list-items {
    display: unset;
    justify-content: flex-end;
  }

  header {
    justify-content: space-between;
    flex-direction: row;
  }

  .burger-menu {
    display: none;
  }

  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .ella-portrait {
    width: 35%;
    height: auto;
    margin-top: 2.3rem;
  }

  .home-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
  }

  .hello {
    font-size: 1.5rem;
  }

  .name {
    font-size: 4rem;
  }

  .intro-text {
    font-size: 1.5rem;
  }
}
